* {
    font-family: Helvetica;
    background-color: #1d1128;
    color: #e5d4ed
}

a:hover {
    color: #6d72c3
}

img {
    width: 394px;
    height: auto;
    border-radius: 5px
}

.link {
    border: solid #5941a9 5px;
    padding-left: 5px;
    width: 400px;
    margin: 0 auto;
    border-radius: 25px
}

.index {
    text-align: center;
}

ul
li {
    border: solid #5941a9 2px;
    width: 275px;
    margin: 5px 0px 1px 0px;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 5px
}

ul
li:hover {
    background-color: #5941a9
}

.caption {
    display: inline;
}

.recipe {
    margin: 30px
}