* {
    font-family: Helvetica;
    background-color: #F3D9DC;
    color: #744253
}

a:hover {
    color: #C78283
}

img {
    width: 394px;
    height: auto;
    border-radius: 5px
}

.link {
    border-left: solid #C78283 5px;
    border-bottom: solid #C78283 5px;
    padding-left: 5px;
    width: 400px;
    margin: 0 auto;
}


.index {
    text-align: center;
}

.index
h1 {
    font-size: 65px
}

.recipe
h1 {
    font-size: 50px
}

ul
li {
    border: solid #744253 2px;
    width: 275px;
    margin: 5px 0px 1px 0px;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 5px;
    background-color: #E0C5BC;
}

ul
li:hover {
    background-color: #744253;
    color: #F3D9DC
}

.recipe {
    margin: 30px
}

ol
li {
    border: solid #744253 0px;
    margin: 5px 0px 1px 0px;
    padding: 5px;
    border-radius: 15px;
    width: 600px;
    height: auto;
    background-color: #F3D9DC;
    color:#744253
}

ol {
    background-color: #E0C5BC;
    width: 640px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px
}